<!DOCTYPE html>
    <html lang="PT-BR">
        <head>
            <script>
             
            </script>
            <style>
             
            </style>
        </head>
        <body>
            <fieldset>
                <legend>Logar no Curriculo</legend>
                <form action="curriculo.php" method="POST">
                    Usuario:<input type="text" name="Usuario" maxlength="10" minlength="5" placeholder="Usuario" required>
                    Senha:<input type="password" name="senha" placeholder="senha" required>
                    <input type="submit" value="logar">
                </form>
            </fieldset>
            <fieldset>
                <legend>Cadastrar curriculo</legend>
                <fieldset>
                    <legend>DADOS PESSOAIS</legend>
                      Nome Completo:<\br>
                      Telefone:<\br>
                      E-mail:<\br>
                      Endereço:<\br>
                    <fieldset>
            </fieldset>
        </body>
    </html>
