<!DOCTYPE html>
    <html lang="PT-BR">
        <head>
            <script>
             
            </script>
            <style>
             
            </style>
        </head>
        <body>
            <fieldset>
                <legend>Logar no Curriculo</legend>
                <form action="curriculo.php" method="POST">
                    Usuario:<input type="text" name="Usuario" maxlength="10" minlength="5" placeholder="Usuario" required>
                    Senha:<input type="password" name="senha" placeholder="senha" required>
                    <input type="submit" value="logar">
                </form>
            </fieldset>
            <fieldset>
                <legend>Cadastrar curriculo</legend>
                <fieldset>
                    <legend>DADOS PESSOAIS</legend>
                      Nome Completo:<input type="text"></br>
                      Telefone:<input type="text"><</br>
                      E-mail:<input type="email"></br>
                      Endereço:<input type="text"></br>
                          Data de Nascimento: <input type="date"></br>
                          Genero:M <input type="radio"> F <input type="radio"> OUTROS <input type="radio"></br>
                    </fieldset>
            </fieldset>
        </body>
    </html>
